@charset "utf-8";
@import '_var';

* {
  margin: 0;
  padding: 0;
}
body {
  word-break: keep-all;
  overflow: hidden;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
  max-width: 100%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(-50%);
}
#skip a {
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 999;
  &:focus {
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: $yellow;
    color: #333;
    text-align: center;
    font-weight: 700;
  }
}
#cursor_follow {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  circle {
    stroke-width: 3px;
    stroke: $point;
  }
  svg {
    &.none {
      display: none !important;
    }
  }
  p {
    display: none;
    &.block {
      display: block;
    }
  }
}

/* 태블릿 */
@media screen and (max-width: 1080px) {
  body {
    overflow-y: auto;
  }
}
