@charset "utf-8";
@import '_var', '_function';
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,regular,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:regular,700);

// 여기부터 패널
.container {
  position: absolute;
  display: flex;
  width: 83.5vw;
  height: 42vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px solid red;
}

// 클릭 텍스트 애니메이션
.click_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    z-index: 100;
    color: $point;
    animation: clickTxtAni 1s infinite;
    padding-right: vw1920(2);
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
  }
  @keyframes clickTxtAni {
    0% {
      padding-top: 0px;
    }
    50% {
      padding-top: 6px;
    }
    100% {
      padding-top: 0px;
    }
  }
}
// 패널1 캐릭터
#aP1 {
  position: relative;
  .container {
    width: 76vw;
  }
  h3 {
    position: absolute;
    top: 0;
    right: vw1920(50);
    font-size: vw1920(40);
    color: $yellow;
    font-family: 'Noto Sans KR';
    opacity: 0;
    z-index: 100;
    &.h3_ani {
      animation: h3Ani 1.5s forwards;
    }
    span {
      font-size: vw1920(50);
      opacity: 0;
      display: inline;
      &.on {
        opacity: 1;
      }
    }
    small {
      font-size: vw1920(26);
      padding-left: vw1920(500);
      b {
        font-size: vw1920(50);
        color: $fontW;
      }
    }
    button {
      position: absolute;
      top: vw1920(22);
      font-size: vw1920(30);
      font-weight: bold;
      padding: 0 vw1920(10) vw1920(5);
      &.on {
        opacity: 0;
      }
      &.click1 {
        left: 0;
      }
      &.click2 {
        left: vw1920(210);
      }
    }
  }
  // 아래->위, opacity:0->1 애니메이션. h3Ani로 공통적용
  @keyframes h3Ani {
    0% {
      opacity: 0;
      top: vw1920(60);
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }

  #aP1ImgBox {
    width: 55%;
    height: 100%;
    position: relative;
  }
  #aP1ImgBox,
  #aP1TxtBox {
    opacity: 0;
    &.h3_ani {
      animation: h3Ani 1s forwards;
    }
  }
  #aP1TxtBox {
    color: $fontW;
    width: 45%;
    position: relative;
    p {
      font-size: vw1920(20);
      padding: vw1920(200) 0 0 vw1920(50);
      line-height: 1.5;
    }
  }
  #aP1TxtBox::before {
    content: '';
    display: block;
    width: vw1920(450);
    height: vw1920(1);
    background: #000;
    position: absolute;
    bottom: vw1920(180);
    left: vw1920(280);
  }
  #aP1TxtBox::after {
    content: '';
    display: block;
    width: vw1920(450);
    height: vw1920(3);
    background: #000;
    position: absolute;
    bottom: vw1920(179);
    left: vw1920(280);
    animation: lineAni 1.8s linear infinite;
  }
  @keyframes lineAni {
    0% {
      width: vw1920(0);
    }
    100% {
      width: vw1920(450);
    }
  }
}

// 부캐 사진 공통: 원형, 버튼
.circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  font-weight: normal;
}
.md_close_btn {
  visibility: inherit;
  position: absolute;
  top: vw1920(30);
  right: vw1920(30);
  width: vw1920(30);
  height: vw1920(30);
}
// 각각 컨텐츠
.cnt0 {
  width: vw1920(530);
  height: vw1920(530);
  position: absolute;
  top: vw1920(270);
  right: 0;
  .circle {
    background: url('../images/main/panel1/panel1_photo1-0.jpg') no-repeat right
      center;
    background-size: cover;
  }
  .bgChange {
    background: #000;
  }
}

.txt_wrap {
  background: #000;
  color: $fontW;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .txt_inner {
    border-radius: 100%;
    width: 80%;
    height: 80%;
    text-align: center;
    h4 {
      padding-top: vw1920(30);
      font-size: vw1920(48);
      color: $yellow;
    }
    strong {
      font-size: vw1920(30);
      color: $yellow;
      font-weight: normal;
    }
    p {
      padding-top: vw1920(50);
      font-size: vw1920(24);
      line-height: 1.6;
    }
  }
}

.cnt1 {
  width: vw1920(320);
  height: vw1920(320);
  position: absolute;
  top: vw1920(-5);
  left: vw1920(170);
  .circle {
    background: url('../images/main/panel1/panel1_photo2-1.jpg') no-repeat
      center center;
    background-size: cover;
    p {
      font-size: vw1920(40);
    }
  }
}
// 부캐 호버시 그림자 공통
#aP1ImgBox .shadow {
  top: vw1920(0);
  left: vw1920(0);
  box-shadow: 0 0 0 #333;
  transition: all 0.5s;
}
#aP1ImgBox .shadow:hover,
#aP1ImgBox .shadow:focus {
  top: vw1920(-7);
  left: vw1920(-10);
  box-shadow: 10px 15px 15px #222;
}
// 클릭 애니메이션 가로 배경 라인
#aP1ImgBox .click_txt::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 15%;
  background: rgba(255, 255, 255, 0.5);
}
.cnt2 {
  width: vw1920(205);
  height: vw1920(205);
  position: absolute;
  top: vw1920(195);
  left: 0;
  .circle {
    background: url('../images/main/panel1/panel1_photo4-3.jpg') no-repeat right
      center;
    background-size: cover;
    p {
      font-size: vw1920(35);
    }
  }
}
.cnt3 {
  width: vw1920(130);
  height: vw1920(130);
  position: absolute;
  top: vw1920(385);
  left: vw1920(115);
  .circle {
    background: url('../images/main/panel1/panel1_photo3-2.jpg') no-repeat right
      bottom;
    background-size: cover;
    p {
      font-size: vw1920(25);
    }
  }
}
.cnt4 {
  width: vw1920(80);
  height: vw1920(80);
  position: absolute;
  top: vw1920(342);
  left: vw1920(225);
  .circle {
    background: url('../images/main/panel1/panel1_photo5-1.jpg') no-repeat right
      top;
    background-size: cover;
    p {
      font-size: vw1920(20);
    }
  }
}

// 패널1 모달
#dim {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 998;
}
#no1,
#no2,
#no3,
#no4 {
  z-index: 998;
  position: absolute;
  top: vw1920(345);
  left: vw1920(395);
  visibility: hidden;
  button {
    visibility: inherit;
  }
}

// 패널2 스킬
#aP2 {
  position: relative;
  font-family: 'Noto Sans KR';
  .container {
    display: flex;
    flex-direction: column;
  }
  .guide {
    position: absolute;
    bottom: vw1920(180);
    left: vw1920(55);
    font-size: vw1920(20);
    color: $fontW;
  }
  .guide::before {
    content: '';
    display: block;
    width: vw1920(100);
    height: vw1920(1);
    background: #000;
    position: absolute;
    top: vw1920(11);
    left: vw1920(-122);
  }
  .guide::after {
    content: '';
    display: block;
    width: vw1920(100);
    height: vw1920(3);
    background: #000;
    position: absolute;
    top: vw1920(10);
    left: vw1920(-122);
    animation: lineAni2 1.5s linear infinite;
  }
  @keyframes lineAni2 {
    0% {
      width: vw1920(0);
    }
    100% {
      width: vw1920(115);
    }
  }
  ul {
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: vw1920(50);
    li {
      width: calc(100% / 6);
    }
  }
}
// 패널2 상단 전구 ul
#aP2 .container {
  height: 42vw;
}
#aP2 .img_box {
  li {
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .light {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../images/common/light.png') no-repeat center center;
      background-size: cover;
      z-index: 1;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      display: block;
      width: vw1920(130);
      height: vw1920(130);
      background: url('../images/common/electric_bulb_white.png') no-repeat
        center center;
      background-size: contain;
      z-index: 2;
      &.on::after {
        content: '';
        display: block;
        width: vw1920(130);
        height: vw1920(130);
        background: url('../images/common/electric_bulb_light.png') no-repeat
          center center;
        background-size: contain;
        z-index: 2;
      }
    }
    b {
      display: none;
      &.on {
        display: block;
        position: absolute;
        bottom: vw1920(-190);
        right: vw1920(-20);
        color: #1d1d1d;
        letter-spacing: -2px;
      }
      &.fz190 {
        font-size: vw1920(190);
        bottom: vw1920(-186);
      }
      &.fz180 {
        font-size: vw1920(180);
      }
      &.fz160 {
        font-size: vw1920(160);
        right: vw1920(-10);
      }
      &.fz135 {
        font-size: vw1920(135);
        bottom: vw1920(-180);
        right: vw1920(10);
      }
    }
    .html {
      width: vw1920(360);
      height: vw1920(360);
    }
    .css,
    .jquery {
      width: vw1920(310);
      height: vw1920(310);
      opacity: 0.8;
    }
    .js {
      width: vw1920(240);
      height: vw1920(240);
      opacity: 0.7;
    }
    .sass {
      width: vw1920(260);
      height: vw1920(260);
      opacity: 0.75;
    }
    .adobe {
      width: vw1920(330);
      height: vw1920(330);
      opacity: 0.9;
    }
  }
}
// 패널2 하단 토글 ul
#aP2 .toggle_box {
  .cnt {
    width: 75%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    .logo {
      width: vw1920(90);
      height: vw1920(90);
    }

    .toggle {
      position: absolute;
      top: vw1920(70);
      right: 0;
      width: vw1920(150);
      height: vw1920(40);
      input {
        width: 0;
        height: 0;
        visibility: hidden;
      }
      label {
        width: 100%;
        height: 100%;
        border-radius: vw1920(30);
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #111, #222);
        color: $fontW;
        text-indent: vw1920(90);
        line-height: vw1920(38);
        // border: 1px solid #000;
        font-size: vw1920(20);
        font-weight: normal;
        cursor: pointer;
        &.tg_css {
          text-indent: vw1920(106);
        }
        &.tg_js,
        &.tg_adobe {
          text-indent: vw1920(80);
        }
        &.tg_jq {
          text-indent: vw1920(74);
        }
      }
      label::after {
        content: '';
        display: block;
        width: 40%;
        height: vw1920(36);
        background: linear-gradient($yellow, #fde422);
        position: absolute;
        top: vw1920(2);
        left: vw1920(2);
        border-radius: vw1920(30);
        transition: all 0.5s;
      }
      label:active::after {
        width: 70%;
      }
      input:checked + label::after {
        right: vw1920(2);
        left: auto;
        background: #333;
      }
      input:checked + label {
        text-indent: vw1920(10);
      }
      input:checked + label.tg_html {
        background: linear-gradient(90deg, #e54d26, #ff0800);
      }
      input:checked + label.tg_css {
        background: linear-gradient(90deg, #0b74b8, #0044ff);
      }
      input:checked + label.tg_js {
        background: linear-gradient(90deg, #dab92c, #977b00);
        color: #333;
      }
      input:checked + label.tg_jq {
        background: linear-gradient(90deg, #fff, #999);
        color: #333;
      }
      input:checked + label.tg_sass {
        background: linear-gradient(90deg, #cf649a, #ff207d);
      }
      input:checked + label.tg_adobe {
        background: linear-gradient(90deg, #3b0101, #000000);
      }
    }
  }
}

// 패널3 코딩작업물
#aP3 {
  position: relative;
  .container {
    height: 100vh;
    overflow: hidden;
    left: auto;
    right: 0;
    transform: translate(0, -50%);
  }
  .slide_view {
    width: vw1920(1370);
    height: 100%;
    position: absolute;
    top: vw1920(-320);
    left: vw1920(0);
    .slide_wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      .slide {
        position: relative;
        width: 100%;
        height: vw1920(480);
        margin-bottom: vw1920(70);
        font-size: 100px;
        transition: all 0.3s;
        transform-origin: right;
        right: vw1920(-100);
        .slide_img {
          position: absolute;
          right: 0;
          width: vw1920(900);
          height: vw1920(480);
          background: #eee;
          overflow: hidden;
          z-index: 900;
          img {
            position: absolute;
            top: 0;
            left: 0;
          }
          .gray {
            filter: grayscale(100%) brightness(80%);
          }
          .color {
            clip-path: circle(0% at 0 0);
            pointer-events: none;
          }
        }

        .txt_box {
          position: absolute;
          top: vw1920(0);
          width: vw1920(450);
          height: vw1920(500);
          visibility: hidden;
          &.default_c {
            color: #fff;
          }
          .main_tit {
            font-size: vw1920(48);
          }
          .sub_tit {
            font-size: vw1920(30);
            margin-bottom: vw1920(100);
          }
          .more_btn {
            position: absolute;
            top: vw1920(150);
            font-size: vw1920(24);
            color: inherit;
          }
          .more_cnt {
            display: none;
            // visibility: inherit;
            font-size: vw1920(26);
            height: vw1920(280);
          }
        }
      }
      .slide:nth-child(1) {
        z-index: 1;
      }
      .slide:nth-child(2) {
        transform-origin: left;
        right: vw1920(0);
      }
      .slide:nth-child(2) .slide_img {
        z-index: 4;
      }
      .slide:nth-child(2) .txt_box {
        visibility: visible;
      }
    }
  }
  .arrow_box {
    button {
      position: absolute;
      color: #000;
      z-index: 2;
    }
    .up_btn {
      width: vw1920(600);
      height: vw1920(600);
      top: vw1920(-100);
      right: vw1920(-180);
    }
    .down_btn {
      z-index: 3;
      width: vw1920(300);
      height: vw1920(300);
      top: vw1920(590);
      left: vw1920(270);
      transform: rotate(180deg);
    }
  }
}
// 슬라이드 이미지 호버시 애니메이션
// 상, 하, 좌, 우
#aP3 .slide:nth-child(2) .slide_img::before,
#aP3 .slide:nth-child(2) .slide_img::after,
#aP3 .slide:nth-child(2) .slide_img span::before,
#aP3 .slide:nth-child(2) .slide_img span::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 5;
}
// 상, 하
#aP3 .slide:nth-child(2) .slide_img::before,
#aP3 .slide:nth-child(2) .slide_img::after {
  width: vw1920(0);
  height: vw1920(5);
  animation: bdAni1 0.5s linear forwards;
}
// 상
#aP3 .slide:nth-child(2) .slide_img::before {
  background: linear-gradient(90deg, #fff, $yellow);
}
// 하
#aP3 .slide:nth-child(2) .slide_img::after {
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #fff, $yellow);
  animation-delay: 1s;
}
// 좌우
#aP3 .slide:nth-child(2) .slide_img span::before,
#aP3 .slide:nth-child(2) .slide_img span::after {
  width: vw1920(5);
  height: vw1920(0);
  animation: bdAni2 0.5s linear forwards;
}
// 좌
#aP3 .slide:nth-child(2) .slide_img span::before {
  bottom: 0;
  background: linear-gradient(180deg, #fff, $yellow);
  animation-delay: 1.5s;
}
// 우
#aP3 .slide:nth-child(2) .slide_img span::after {
  right: 0;
  top: 0;
  background: linear-gradient(0deg, #fff, $yellow);
  animation-delay: 0.5s;
}
@keyframes bdAni1 {
  0% {
    width: vw1920(0);
  }
  100% {
    width: vw1920(900);
  }
}
@keyframes bdAni2 {
  0% {
    height: vw1920(0);
  }
  100% {
    height: vw1920(480);
  }
}

// 패널4 스크립트,제이쿼리
#aP4 {
  position: relative;
  .container {
    overflow: hidden;
  }
  .cnt_list {
    width: 170%;
    height: 100%;
    display: flex;
    position: absolute;
    li {
      width: vw1920(300);
      height: 100%;
      margin-left: vw1920(60);
      position: relative;
      button {
        position: absolute;
        top: vw1920(30);
        left: 0;
        width: vw1920(300);
        height: vw1920(600);
        transition: all 0.5s;
        border: 1px solid #000;
        box-shadow: 0 0 0 #333;
      }
      &:nth-child(odd) button {
        margin-top: vw1920(160);
      }
      button:hover,
      button:focus {
        top: vw1920(15);
        left: vw1920(-15);
        box-shadow: 10px 15px 15px #222;
      }
    }
  }
  .arrow_box {
    position: absolute;
    top: vw1920(20);
    right: 0;
    width: vw1920(135);
    height: vw1920(150);
    button {
      position: absolute;
      font-size: vw1920(40);
      transition: all 0.5s;
      padding: vw1920(7);
    }
    .left {
      top: 10%;
      left: 10%;
    }
    .right {
      position: relative;
      top: 30%;
      left: 50%;
    }
  }
}

// 패널4 모달
.panel4_md {
  z-index: 998;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 60%;
  height: 80%;
  visibility: hidden;
  .txt_box {
    width: 100%;
    height: 20%;
    color: $yellow;
    .title {
      font-size: vw1920(36);
      margin-bottom: vw1920(20);
    }
    .txt {
      font-size: vw1920(26);
    }
  }
  .cnt_box {
    width: 100%;
    height: 80%;
    background: #fff;
  }
  // .md_close_btn{} -> 190번 줄에서 공통제어
}

// 패널5 컨텍트
#main #aP5 {
  background: #6c663b;
}
#aP5 {
  .container {
    position: relative;
    .link {
      width: vw1920(1350);
      position: absolute;
      top: vw1920(-150);
      right: vw1920(-100);
      z-index: 1;
    }
    .front {
      &.filter {
        filter: invert(80%);
        opacity: 1;
      }
    }
    .shadow {
      width: vw1920(1250);
      top: vw1920(-140);
      right: vw1920(-190);
      opacity: 0.4;
    }
    .cnt {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: vw1920(80);
      z-index: 2;
      .light {
        width: vw1920(500);
        height: vw1920(500);
        position: relative;
        background: radial-gradient($yellow 1%, #c7b84b 20%, transparent 60%);
        img {
          width: vw1920(120);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .txt_box {
        padding-top: vw1920(6);
        text-align: center;
        &.default_c {
          color: #fff;
        }
        strong {
          display: block;
          font-size: vw1920(62);
        }
        p {
          padding-top: vw1920(68);
          font-size: vw1920(42);
        }
      }
    }
  }
}

// 태블릿 1080
@media screen and (max-width: 1080px) {
  // 여기부터 패널
  .container {
    position: absolute;
    display: flex;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
  }
}
